# Default binaries folder which is automatically created by the scripts.
/bin

# Visual Studio Code user specific project settings.
/.vscode

# Go test coverage results.
coverage.out

# Go linter results.
lint.out